<div class="background">
  <img src="../../../assets/loginPageBackground.png" alt="login page background" class="background-image">
</div>
<div class="signUp">Sign up <i class="fas fa-angle-right next-icon"></i></div>
<div class="login-pane">
  <h4>Here you can login</h4>
  <form action="" style="margin-top: 20px;">
    <label for="email" class="label-style"> Email </label>
    <div>
      <input class="input-style" type="text" id="email" placeholder="enter email address">
    </div>
    <label for="password" class="label-style"> Password </label>
    <div>
      <input class="input-style" type="password" id="password" placeholder="enter password">
    </div>
    <div>
      <button class="login-btn">login</button>
    </div>
  </form>
</div>

