<div class="container">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <div class="topic">New customer</div>
      <form action="">
        <div>
          <label for="name">
            <input id="name" placeholder="Enter name" type="text" class="form-control">
          </label>
        </div>
        <label for="address">
          <input id="address" placeholder="Enter address" type="text" class="form-control">
        </label>
        <label for="telephone">
          <input id="telephone" placeholder="Enter telephone" type="text" class="form-control">
        </label>
      </form>
      <button class="btn btn-success">save</button>
    </div>
    <div class="col-md-6">
      <div class="topic">Exists Customers</div>
      <div class="table-responsive">
        <table class="table">
          <thead class="black white-text">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Telephone</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>C001</td>
            <td>Hashan Madhuranga</td>
            <td>Salgas Junction Govinna</td>
            <td>0778079623</td>
            <td><i class="fas fa-trash-alt" style="color: red"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
