<div class="container">
  <div class="search-box">
    <mat-form-field class="search-input">
      <label for="search">
        <input id="search" matInput placeholder="Search Customer Here">
      </label>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md-6 new-customer-form">
      <div class="form-style">
        <div class="topic">New customer</div>
        <div>
          <form #cusForm='ngForm'>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="name">
                <input #idTxt style="display: none;" [value]="id">
                <input #nameTxt id="name" matInput placeholder="Name" [value]="name"
                       required>
              </label>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="address">
                <input id="address" matInput placeholder="Address" #addressTxt
                       [value]="address"
                       required>
              </label>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="telephone">
                <input id="telephone" matInput placeholder="Telephone" #telephoneTxt [value]="telephone"
                       required>
              </label>
            </mat-form-field>
            <button (click)="reset()" mat-raised-button color="accent"
                    style="width: 90%; outline: none; margin: 20px 0 10px 0; color: white; background-color: #FEA101">
              Reset Fields
            </button>
          </form>
          <button (click)="saveCustomer(idTxt.value, nameTxt.value, addressTxt.value, telephoneTxt.value)" type="submit"
                  mat-raised-button class="save-btn">Save
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 exists-customer">
      <div class="table-style">
        <div class="topic">Exists Customers</div>
        <div class="table-responsive" style="max-height: 355px;">
          <table class="table">
            <thead class="black white-text">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Telephone</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers" (click)="selectCustomer(customer)">
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.telephone}}</td>
              <td><i class="fas fa-trash-alt" style="color: red" (click)="deleteCustomer(customer.id)"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
