<div class="container">
  <div class="search-box">
    <mat-form-field class="search-input">
      <label for="search">
        <input id="search" matInput placeholder="Search Customer Here">
      </label>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md-6 new-customer-form">
      <div class="form-style">
        <div class="topic">New customer</div>
        <div>
          <form>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="name">
                <input id="name" matInput placeholder="Name">
              </label>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="address">
                <input id="address" matInput placeholder="Address">
              </label>
            </mat-form-field>
            <mat-form-field class="example-full-width" style="width: 90%">
              <label for="telephone">
                <input id="telephone" matInput placeholder="Telephone">
              </label>
            </mat-form-field>
          </form>
          <button mat-raised-button color="accent"
                  style="width: 90%; outline: none; margin: 20px 0 10px 0; color: white; background-color: #FEA101">
            Reset Fields
          </button>
          <button mat-raised-button class="save-btn">Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 exists-customer">
      <div class="table-style">
        <div class="topic">Exists Customers</div>
        <div class="table-responsive" style="max-height: 355px;">
          <table class="table">
            <thead class="black white-text">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Telephone</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>C001</td>
              <td>Hashan Madhuranga</td>
              <td>Salgas Junction Govinna</td>
              <td>0778079623</td>
              <td><i class="fas fa-trash-alt" style="color: red"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
