<div class="container">
  <div class="row">
    <div class="col-sm-4" style="width: 100%;">
      <div class="notify-window">
        Customers <br>
        {{numberOfCustomers}}
      </div>
    </div>
    <div class="col-sm-4" style="width: 100%;">
      <div class="notify-window">
        Order <br>
        {{numberOfOrders}}
      </div>
    </div>
    <div class="col-sm-4" style="width: 100%;">
      <div class="notify-window">
        Order <br>
        {{numberOfOrders}}
      </div>
    </div>
  </div>
</div>
